.bold_text {
    font-family: "Bowlby One", serif;
    font-weight: 400;
    font-style: normal;
}

.normal_text {
font-family: "Noto Sans JP", serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal;
}

section {
    padding-bottom: 180px;
}

body {
    background-color: #1a2081;
}

body header div div a:hover{
    text-decoration: underline
}

@media screen and (max-width: 990px) {
    .nav1 {
        display: none;
    }
}

@media screen and (min-width: 990px) {
    .nav2 {
        display: none;
    }
}
    
.nav_buttons{
    width: 302px;
}

.navDis1 {
    display: none;
}

.navDis2 {
    display: block;
    width: 350px;
}

.width_class {
    width: 450px;
}

.button_color1 {
    background-color: #5865f2;
    border-color: #5865f2;
}

.button_color2 {
    background-color: #161bbb;
    border-color: #161bbb;
}

.blur_bg {
    background-color: rgba(255, 255, 255, 0.4);  
    backdrop-filter: blur(5px);  
}

.border_section {
    border-radius: 55px;
}



@media screen and (min-width: 1280px) {
    .responsive_width {
        max-width: 1300px;
    }
}

@media screen and (max-width: 1280px) {
    .responsive_width {
        max-width: 882px;
    }
}



