.bold_text {
    font-family: "Bowlby One", serif;
    font-weight: 400;
    font-style: normal;
}

.normal_text {
font-family: "Noto Sans JP", serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal;
}

section {
    padding-bottom: 180px;
}

body {
    background-color: #1a2081;
    background-size: 100vw;
    background-image: url(https://cdn.discordapp.com/assets/homepage/background-art__2__720.png);
}

body header div div a:hover{
    text-decoration: underline
}
    
.nav_buttons{
    width: 290px;
}

.nav_buttons2{
    width: 274px;
}

.navDis1 {
    display: none;
}

.navDis2 {
    display: block;
    width: 322px;
}

.width_class {
    width: 450px;
}

.button_color1 {
    background-color: #5865f2;
    border-color: #5865f2;
}

.button_color2 {
    background-color: #161bbb;
    border-color: #161bbb;
}

.blur_bg {
    background-color: rgba(255, 255, 255, 0.4);  
    backdrop-filter: blur(5px);  
}

.border_section {
    border-radius: 55px;
}



@media screen and (max-width: 990px) {
    .nav1 {
        display: none;
    }
}

@media screen and (min-width: 990px) {
    .nav2 {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .responsive_width {
        max-width: 1300px;
    }
    
}

@media screen and (max-width: 1280px) {
    .responsive_width {
        max-width: 882px;
    }
}

@media screen and (min-width: 1900px) {
    .discord_discord_w {
        width: 1279px;
    }
}

.max_height_img {
    max-height: 401px;
}

.max_weidth_img {
    max-width: 616px;
}

.line_bg {
    background-image: url(https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/664f259f33b6731b7df75db4_line-move.webp);
}


.line_transform {
    display: inline-block;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    0% {
      transform: translateX(0%); /* Start off-screen to the right */
    }
    100% {
      transform: translateX(-50%); /* End off-screen to the left */
    }
  }

.gradient_bg {
    background-image: linear-gradient(135deg, #ffffff4d, #ffffff0d);
    backdrop-filter: blur(100px);
}

footer div div div a:hover{
    text-decoration: underline;
}

footer div div div a{
    margin-top: 8px;
}

footer div div div h1{
    margin-bottom: 16px;
}

.footer_w {
    max-width: 1180px;
}

.footer_line {
    backdrop-filter: blur(20px);
    min-height: 4px;
    background-image: linear-gradient(135deg, #fff3, #ffffff0a);
}

.block_scroll {
    overflow-y: hidden
}